.loginError{
    color:red;
    font-weight: bold;
}

.custom_container{
    margin: 0;
    padding: 0;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    padding-bottom: 30px;
    background-color: lightsalmon;
}
form{
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: lightblue;
    max-width: 340px;
}

input{
    float: right;
}

.button-submit{
    margin-top: 20px;
}