/* Class and tags style settings */
.button {width: 90px; height: 40px; font-size: 120%;}
.card {background-color:#E6E6E6;}
body {background-color: #F8F8F8;}

/* Media viewports */
@media only screen and (min-width: 768px){
    textarea {width: 700px; height: 350px;}
}
@media only screen and (max-width: 518px){
    textarea {width: 300px; height: 350px;}
}
@media only screen and (max-width: 479px){
    table {font-size: 82%;}
}
@media only screen and (max-width: 425px){
    table {font-size: 78%;}
}